* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #000000, #000000);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.container {
    background: #fff;
    padding: 50px 50px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
}

header h1 {
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    margin-bottom: 20px;
}

header p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.subscription-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.subscription-form label {
    font-size: 1em;
    font-weight: 600;
}

.subscription-form input {
    padding: 15px;
    border: 2px solid #8400ff;
    border-radius: 5px;
    font-size: 1em;
}

.subscription-form button {
    padding: 15px;
    background-color: #8a2be2;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.subscription-form button:hover {
    background-color: #000000;
}

.checkbox {
    display: flex;
    justify-content: start;
    margin-top: 2rem;
    gap: 1rem;

    input {
        width: 1rem;
        scale: 1;
    }

}

footer p {
    font-size: 0.9em;
    color: #777;
    margin-top: 20px;
}
